<div class="page-head">
    <h1>PLANETS in the Galaxy far, far away</h1>
    <div class="service-line">
        <div class="service-line_item">
            <mat-form-field>
                <mat-label>Sort By</mat-label>
                <mat-select (valueChange)="changeSort($event)">
                    <mat-option value="name">Name</mat-option>
                    <mat-option value="diameter">Diameter</mat-option>
                    <mat-option value="population">Population</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="service-line_item">
            <mat-form-field class="full-width">
                <mat-icon matPrefix>search</mat-icon>
                <input
                    type="search"
                    matInput
                    placeholder="Find up your best resort!"
                    [(ngModel)]="searchString"
                    (change)="goSearch()"
                >
                <button
                    mat-button
                    *ngIf="searchString"
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="clearSearch()"
                >
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>
</div>
<div
    class="table-grid"
    slimScroll
    (reachEnd)="loadNext()"
>
    <app-planet-card
        *ngFor="let planet of planets"
        [planet]="planet"
    ></app-planet-card>
</div>
<mat-spinner
    class="spinner"
    *ngIf="loading"
></mat-spinner>
