.userpic {
    &.person {
        background-image: url('/assets/person/default-icon.png');
        background-color: rgba(100, 201, 222, 0.3);
    }

    &.planet {
        background-color: rgba(200, 201, 22, 0.3);
        background-image: url('/assets/planet/default.png');
    }

    &.starship {
        background-color: rgba(200, 201, 22, 0.3);
        background-image: url('/assets/starship/default.png');
    }

    &.vehicle {
        background-color: rgba(159, 22, 201, 0.3);
        background-image: url('/assets/vehicle/default.png');
    }

    &.person-1 {
        background-image: url('/assets/person/luke.png');
    }

    &.person-2 {
        background-image: url('/assets/person/c3po.png');
    }

    &.person-3 {
        background-image: url('/assets/person/r2d2.png');
    }

    &.person-4 {
        background-image: url('/assets/person/vader.png');
    }

    &.person-5 {
        background-image: url('/assets/person/leia.jpg');
    }

    &.person-8 {
        background-image: url('/assets/person/r5d4.jpg');
    }

    &.person-9 {
        background-image: url('/assets/person/biggs.jpg');
    }

    &.person-10 {
        background-image: url('/assets/person/obeone.png');
    }

    &.person-11 {
        background-image: url('/assets/person/anakin.jpg');
    }

    &.person-12 {
        background-image: url('/assets/person/tarkin.jpg');
    }

    &.person-13 {
        background-image: url('/assets/person/chewbaka.jpg');
    }

    &.person-14 {
        background-image: url('/assets/person/solo.jpg');
    }

    &.person-15 {
        background-image: url('/assets/person/greedo.png');
    }

    &.person-16 {
        background-image: url('/assets/person/jabba.jpg');
    }

    &.person-18 {
        background-image: url('/assets/person/wedge.jpg');
    }

    &.person-20 {
        background-image: url('/assets/person/yoda.png');
    }

    &.person-21 {
        background-image: url('/assets/person/palpatine.jpg');
    }

    &.person-22 {
        background-image: url('/assets/person/boba.jpg');
    }

    &.person-23 {
        background-image: url('/assets/person/ig88.jpg');
    }

    &.person-24 {
        background-image: url('/assets/person/bossk.png');
    }

    &.person-25 {
        background-image: url('/assets/person/lando.jpg');
    }

    &.person-27 {
        background-image: url('/assets/person/ackbar.png');
    }

    &.person-30 {
        background-image: url('/assets/person/wicket.jpg');
    }

    &.person-31 {
        background-image: url('/assets/person/nunb.jpg');
    }

    &.person-85 {
        background-image: url('/assets/person/rey.png');
    }

    &.planet {
        &-1 {
            background-image: url('/assets/planet/tatooine.png');
        }

        &-3 {
            background-image: url('/assets/planet/yavin4.jpg');
        }

        &-2 {
            background-image: url('/assets/planet/alderaan.jpg');
        }

        &-4 {
            background-image: url('/assets/planet/hoth.png');
        }

        &-5 {
            background-image: url('/assets/planet/dagobah.jpg');
        }

        &-6 {
            background-image: url('/assets/planet/bespin.png');
        }

        &-7 {
            background-image: url('/assets/planet/endor.png');
        }

        &-8 {
            background-image: url('/assets/planet/naboo.png');
        }

        &-9 {
            background-image: url('/assets/planet/corusant.jpg');
        }

        &-10 {
            background-image: url('/assets/planet/kamino.png');
        }

        &-11 {
            background-image: url('/assets/planet/geonosis.png');
        }

        /*

        &- {
            background-image: url('/assets/planet/');
        }

        &- {
            background-image: url('/assets/planet/');
        }

        &- {
            background-image: url('/assets/planet/');
        }*/
    }
}